li {
  float: left;
  list-style-type: none;
  padding: 5px 3px 0 3px;
  font-size: 25px;
  color: black;
  width: 20%;
  text-align: center; }

@media only screen and (max-width: 700) {
  width: 50%; }
